/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 abr. 2021, 13:56:22
    Author     : Nacho
*/
.root {
    dBlue: #1062A1;
    lBlue: #85c3f2;
    nBlue: #45A4ED;
    
    eBlack: #1E1E20;
    eSilver: #77797E;
    eBeige: #D9DFCD;
    
    eGreen: #8EF507;
}


BorderPane, AnchorPane {
    -fx-background-color: lBlue;
}

Text {
    -fx-font-family: "dubai bold";
    -fx-fill: eBlack;
}

Text.menu {
    -fx-fill: eBeige;
}

#TError {
    -fx-fill: red;
}

#TErrorSmall {
    -fx-fill: red;
    -fx-font-size: 12px;
}

TextField {
    -fx-background-color: -fx-text-box-border, -fx-background;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 4px;
}

TextField:focused {
    -fx-background-color: eBeige;
}

PasswordField {
    -fx-background-color: -fx-text-box-border, -fx-background;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;
    -fx-background-radius: 4px;
}

PasswordField:focused {
    -fx-background-color: eBeige;
}

DatePicker {
    -fx-control-inner-background: -fx-text-box-border, -fx-background;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;
    -fx-background-radius: 4px;
}

DatePicker:focused {
    -fx-control-inner-background: eBeige;
}

.menu {
    -fx-background-color: dBlue;
    -fx-background-radius: 12px;
}

Hyperlink {
    -fx-text-fill: eBeige;
}

#title {
    -fx-font-size: 48px;
}

Button {
    -fx-background-color: eBeige;
    -fx-font-family: "dubai bold";
    -fx-background-radius: 8px;
    -fx-text-fill: eBlack;
}

Button.big {
    -fx-font-size: 32px;
}

Button.medium {
    -fx-font-size: 24px;
}

Button.small {
    -fx-font-size: 12px;
}

Button.relevant {
    -fx-background-color: eGreen;
    -fx-text-fill: eBlack;
}

.game {
    -fx-background-color: eBeige;
}

.dialog-pane {
    -fx-border-color: lBlue;
    -fx-font-family: "dubai bold";
}

.dialog-pane:header .header-panel {
  -fx-background-color: lBlue;
}

.dialog-pane > .content.label {
   -fx-background-color: dBlue;
   -fx-text-fill: eBeige;
}

.dialog-pane > .button-bar > .container {
    -fx-background-color: dBlue;
}

.dialog-pane .button{
   -fx-background-color: eGreen;
   -fx-wrap-text: true;
 }

.list-view .scroll-bar:vertical .track {
    -fx-background-color: dBlue;
    -fx-border-color: dBlue;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}

.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button{
    -fx-background-color: dBlue;
    -fx-border-color: dBlue;
    -fx-background-radius : 0;
    -fx-padding: 0 10 0 0;
}

.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow {
    -fx-shape: " ";
    -fx-padding :0.0 0.15em;
}

.list-view .scroll-bar:vertical .thumb {
    -fx-background-color: lBlue;
    -fx-background-radius: 8px;
    -fx-background-insets : 2.0, 0.0, 0.0;
}

.list-view .scroll-bar:vertical .thumb:hover {
    -fx-background-color: eGreen;
    -fx-background-radius: 8px;
    -fx-background-insets : 2.0, 0.0, 0.0;
}

.list-view .scroll-bar:vertical .thumb:pressed {
    -fx-background-color: eGreen;
    -fx-background-radius: 8px;
    -fx-background-insets : 2.0, 0.0, 0.0;
}

.list-cell {
    -fx-background-radius: 4px;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}

.list-cell:even {
    -fx-background-color: eBeige;
}

.list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}