/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 may. 2021, 11:08:09
    Author     : Nacho
*/
.root {
    dPurple: #291B29;
    lPurple: #6E6C9E;
    
    ddBlue: #121125;
    eBlue: #1A3663;
    sBlue: #5280A3;
    
    dBlack: #050205;
    lSilver: #748374;
    dBeige: #BEEBBE;
}


BorderPane, AnchorPane {
    -fx-background-color: ddBlue;
}

Text {
    -fx-font-family: "dubai bold";
    -fx-fill: dBeige;
}

Text.menu {
    -fx-fill: dBeige;
}

#TError {
    -fx-fill: red;
}

#TErrorSmall {
    -fx-fill: red;
    -fx-font-size: 12px;
}

TextField {
    -fx-background-color: sBlue;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 4px;
}

TextField:focused {
    -fx-background-color: dBeige;
}

PasswordField {
    -fx-background-color: sBlue;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;
    -fx-background-radius: 4px;
}

PasswordField:focused {
    -fx-background-color: dBeige;
}

DatePicker {
    -fx-control-inner-background: sBlue;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;
    -fx-background-radius: 4px;
}

DatePicker:focused {
    -fx-control-inner-background: dBeige;
}

.menu {
    -fx-background-color: eBlue;
    -fx-background-radius: 12px;
}

Hyperlink {
    -fx-text-fill: lSilver;
}

#title {
    -fx-font-size: 48px;
}

Button {
    -fx-background-color: lPurple;
    -fx-font-family: "dubai bold";
    -fx-background-radius: 8px;
    -fx-text-fill: dBeige;
}

Button.big {
    -fx-font-size: 32px;
}

Button.medium {
    -fx-font-size: 24px;
}

Button.small {
    -fx-font-size: 12px;
}

Button.relevant {
    -fx-background-color: dBeige;
    -fx-text-fill: eBlack;
}

.game {
    -fx-background-color: lPurple;
}

.list-view .scroll-bar:vertical .track {
    -fx-background-color: eBlue;
    -fx-border-color: eBlue;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}

.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button{
    -fx-background-color: eBlue;
    -fx-border-color: eBlue;
    -fx-background-radius : 0;
    -fx-padding: 0 10 0 0;
}

.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow {
    -fx-shape: " ";
    -fx-padding :0.0 0.15em;
}

.list-view .scroll-bar:vertical .thumb {
    -fx-background-color: sBlue;
    -fx-background-radius: 8px;
    -fx-background-insets : 2.0, 0.0, 0.0;
}

.list-view .scroll-bar:vertical .thumb:hover {
    -fx-background-color: dBeige;
    -fx-background-radius: 8px;
    -fx-background-insets : 2.0, 0.0, 0.0;
}

.list-view .scroll-bar:vertical .thumb:pressed {
    -fx-background-color: dBeige;
    -fx-background-radius: 8px;
    -fx-background-insets : 2.0, 0.0, 0.0;
}

.list-cell {
    -fx-background-radius: 4px;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: dBeige;
    -fx-text-fill: dBlack;
}

.list-cell:odd {
    -fx-background-color: ddBlue;
    -fx-text-fill: white;
}

.list-cell:even {
    -fx-background-color: sBlue;
    -fx-text-fill: white;
}

.list-cell:filled:hover {
    -fx-background-color: dBeige;
    -fx-text-fill: dBlack;
}
